body {
   font-family: Verdana, sans-serif;
   background-color: #ffffff;
   color:#666666;
   background: linear-gradient(to bottom, #eeeeee, #ffffff);
   background-attachment: fixed;
   margin: 0;
 }
header {
   background-color: #003058;
   color: #ffffff;
   font-family: Georgia, serif;
   grid-column: 2/-2;
}
main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-column: 2/-2;
    background-color: #ffffff;
}
header h1{
    background-image: url('images/utahtechlogo.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-left: 1em;
    margin: 0;
   line-height: 140%;
   padding: .5rem;
 }
 header h1 a{
    color: white;
    text-decoration: none;
 }
#homehero {
    background-image: url('images/homehero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    grid-column: 2/-2;
}
#studenthero {
    background-image: url('images/studenthero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    grid-column: 2/-2;
}
#facultyhero {
    background-image: url('images/facultyhero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    grid-column: 2/-2;
}
nav{
   background-color: #424242;
   font-weight: bold;
   position: sticky;
   top: 0;
   grid-column: 2/-2;
 }
nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
}
nav ul li{
    width: 100%;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}
nav a:hover{
    background-color: #BA1C21;
}
main img{
    float: right;
}
img {
    width: 300px;
    padding-left: 2rem;
}
h2{
    color: #424242;
    font-family: Georgia, serif;
}
dt{
    font-weight: bold;
    color: #003058;
}
h3{
    font-weight: bold;
    color: #003058;
}
.ut{
    color: #BA1C21;
    font-weight: bold;
}
footer{
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-column: 2/-2;
}
#wrapper{
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns:  minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr) ;
}
* {
    box-sizing: border-box;
}
