body {
   font-family: Verdana, sans-serif;
   background-color: #ffffff;
   color:#666666;
   background: linear-gradient(to bottom, #eeeeee, #ffffff);
   background-attachment: fixed;
   margin: 0;
 }
 #bluebar{
    background-color: #003058;
    height: 100%;
    grid-row: 1;
    grid-column: 1/-1;
}
#greybar{
    background-color: #424242;
    height: 100%;
    grid-row:2;
    grid-column: 1/-1;

}
header {
   background-color: #003058;
   color: #ffffff;
   font-family: Georgia, serif;
   grid-row: 1;
   grid-column: 2/-2;
}
main {
    padding-left: 2rem;
    padding-right: 2rem;
    grid-column: 2/-2;
    background-color: #ffffff;
}
header h1{
    background-image: url('images/utahtechlogo.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-left: 1em;
    margin: 0;
   line-height: 140%;
   padding: .5rem;
 }
 header h1 a{
    color: white;
    text-decoration: none;
 }

form{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    gap: 0.75rem;
    width: 100%;
 }
label{
    text-align: right;
    padding: 10px
}
input{
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #fafafa;
    border-style:none;
}

input:focus{
    outline:none;
    background-color: #f0f0f0;
}

textarea{
    font-size: 1rem;
    padding: 10px;
    color: #666666;
    background-color: #fafafa;
    border-style:none;

}

textarea:focus{
    outline:none;
    background-color: #f0f0f0;
}
#mySubmit{
    grid-column: 2/3;
    width: 10rem;
}
#alumnihero{
    background-image: url('images/alumnihero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    grid-column: 1/-1;
}
#homehero {
    background-image: url('images/homehero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    grid-column: 1/-1;
}
#studenthero {
    background-image: url('images/studenthero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    grid-column: 1/-1;
}
#facultyhero {
    background-image: url('images/facultyhero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    grid-column: 1/-1;
}
nav{
   background-color: #424242;
   font-weight: bold;
   position: sticky;
   top: 0;
   grid-row: 2;
   grid-column: 2/-2;
 }
nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
}
nav ul li{
    width: 100%;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}
nav a:hover{
    background-color: #BA1C21;
}
main img{
    float: right;
}
img {
    width: 300px;
    padding-left: 2rem;
}
h2{
    color: #424242;
    font-family: Georgia, serif;
}
dt{
    font-weight: bold;
    color: #003058;
}
h3{
    font-weight: bold;
    color: #003058;
}
.ut{
    color: #BA1C21;
    font-weight: bold;
}
footer{
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-column: 2/-2;
} 

    
#wrapper{
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns:  minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr) ;
}
* {
    box-sizing: border-box;
}
@media only screen and (max-width: 1100px){
    
    #wrapper{
        display: grid;
        grid-auto-rows: minmax(0, auto);
        grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 150px)) minmax(0px, 1fr) ;
}
    
}
@media only screen and (max-width: 900px){

    nav{
        grid-row: 2/3;
        grid-column: 1/5;
        position: static;
    }
    
    nav ul{
        flex-flow: column nowrap;
    }
    
    #homehero, #studenthero, #facultyhero, #alumnihero {
        grid-row: 2/3;
        grid-column: 5/8;
        height: auto;
    }

    main img{
        float: none;
        width: 100%;
        height: auto;
        padding-left: 0px;
    }
    
}
@media only screen and (max-width: 600px){

    header h1{
        background-image: none;
        text-align: center;
    }

    nav{
        grid-row: 2/3;
        grid-column: 1/-1;
    }

    #homehero, #studenthero, #facultyhero, #alumnihero {
        display: none;
    }
    

}