nav{
   background-color: #000000;
   grid-column: 1/4;
   grid-row: 1;
   color:white;
   font-weight:bold;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-flow: row nowrap;
}
h3{
   margin-left: 210px;
   margin-top: 20px;
   font-size:xx-large;
}
   
#soccerSphere{
   font-weight:bold;
   font-style: italic;
}
#soccer{
   background-image: url('images/soccer.png');
   background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    width: 100%;
   grid-column: 1/6;
}
 nav ul{
   list-style-type: none;
   margin: 0;
   padding-left: 10%;
   display: flex;
   margin: auto;
   padding: 30px;
   padding-top: 20px;
 }
nav ul li{
    width: 100%;
    margin: 50px;
    margin-top: 10px;
}

 body{
    margin: 0;
 }
.hero{
    grid-column: 2;
    grid-row: 2;
 }
 #celebration{
    background-image:url('images/Arsenal-v-Manchester-City-Premier-League-tg3lbi71.avif');
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: 15%;
   grid-column:2/4
 }
.subhero{
    grid-row: 3;
    background-color: rgb(0, 0, 0);
    grid-column: 2/4;
 }
main{
   grid-column: 2/4;
   grid-row: 4;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ffffff;
   }
   main h1{
      align-items: first baseline;
   }
   main p{
    justify-content: center;
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    
   }
   #bolded{
      font-weight: bold;
   }
 main h1{
    text-decoration: underline;
    
 }
   #poster{
    width: 400px;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom:20px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
   }
footer{
    grid-column: 2/4;
    grid-row: 5;
    background-color: #000000;
    color: white;
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
 }
 footer a{
   text-decoration: underline;
   color: white;
 }
#wrapper {
    display: grid;
    grid-template-columns: 70px 2fr 2fr 70px;
    grid-template-rows: 80px 500px 30px auto 50px;
    background-color: rgb(221, 218, 218);
}