nav{
   background-color: #000000;
   grid-column: 1/4;
   grid-row: 1;
   font-weight:bold;
   font-family: Arial, Helvetica, sans-serif;
   
   
}
#soccerSphere{
   padding-right: 10px;
   font-weight:bold;
   font-style: italic;
   
      
   
}
#soccer{
   background-image: url('images/soccer.png');
   background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    width: 100%;
   
   
}
 nav ul{
        list-style-type: none;
        margin: 0;
        padding-left: 20%;
        display: flex;
        flex-flow: row nowrap;
}
nav ul li{
    width: 100%;
}
nav p{
    text-decoration: none;
    color: white;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}
 body{
    margin: 0;
 }
.hero{
    grid-column: 2;
    grid-row: 2;
    background-color: yellow;
 }
.subhero{
    grid-column: 2;
    grid-row: 3;
    background-color: orange;
 }
main{
    grid-column: 2;
    grid-row: 4;
    background-color: lightblue;
 }
footer{
    grid-column: 2;
    grid-row: 5;
    background-color: lightgreen;
 }
#wrapper {
    display: grid;
    grid-template-columns: 70px 3fr 70px;
    grid-template-rows: 80px 350px 50px 350px 50px;
    background-color: rgb(255, 255, 255);
}