nav{
   background: linear-gradient(33deg, black, #0c0b73);
   grid-column: 1/5;
   grid-row: 1;
   color:white;
   font-weight:bold;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-around;
}
nav a:hover{
   transition: transform 0.3s ease-in-out;
   transform: scale(1.2);
}
nav h3{
   font-weight:bold;
   font-style: italic;
   margin-left: 20px;
   font-size:xx-large;
}

nav img{
   width: 60px
}

#titlebar{
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
}

 nav a{
    text-decoration: none;
    color: white;
    padding: 1rem 1rem;
    display: block;
    text-align: center;
   }
#navlinks{
   display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    grid-row: 2;
   }


 body{
    margin: 0;
 }
.hero{
    grid-column: 2;
    grid-row: 2;
 }
 #celebration{
    background-image:url('images/prem5.jpg');
   width: 100%;
   height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: 15%;
   grid-column:2/4
 }
 #celebration2{
    background-image:url('images/match4.png');
   width: auto;
   height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: 15%;
   grid-column:2/4
 }
 #match, #match2, #match3{
    width: 60%;
    height: auto;
    float: none;
    margin-left: 30px;
    margin-right: 30px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
 }
#interview, #interview2, #interview3{
   width: 70%;
   height: auto;
   float: none;
   margin-left: 30px;
   margin-right: 30px;
   border-color: black;
   border-width: 5px;
   border-style: solid;
}
#transfer, #transfer2{
   width: 60%;
   height: auto;
   float: none;
   margin-left: 30px;
   margin-right: 30px;
   border-color: black;
   border-width: 5px;
   border-style: solid;
}
.subhero{
    height: 30px;
    grid-row: 3;
    background-color: black;
    grid-column: 2 / 4;
 }
main{
   grid-column: 2/4;
   grid-row: 4;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ffffff;
   }
   main h1{
      align-items: first baseline;
   }
   main p{
    justify-content: center;
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    
   }
   #bolded{
      font-weight: bold;
   }
 main h1{
    text-decoration: underline;
 }
 section{
   grid-column: 2/4;
   grid-row: auto ;
 }
   #poster{
    width: 80%;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom:20px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
   }
   #posterInt,#worldcup,#stadiumInt{
    width: 60%;
    height: auto;
    float: none;
    margin-left: 30px;
    margin-right: 30px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
   }
footer{
    grid-column: 2/4;
    grid-row: 8;
    background-color: #000000;
    color: white;
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
 }
 footer a{
   text-decoration: underline;
   color: white;
 }
 .dropdown{
   position: relative;
   display: inline-block;
   }
 .dropbtn {
  background-color: #000000;
  display: none;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover{
   transition: transform 0.3s ease-in-out;
   transform: scale(1.2);

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1b1b1b;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  margin-top:360px;
}
.dropdown-content a:hover{
   background-color: grey;
}
.show {
   display:block;
   }
#wrapper {
    display: grid;
    background-color: rgb(221, 218, 218);
    box-shadow: 0px 3px 3px rgba(44, 37, 37, 0.3);
}
@media only screen and (max-width: 1400px){
   .dropdown{
      display: none;
   }
   
}
@media only screen and (max-width: 930px){
   nav{
      display: grid;
      justify-content: normal;
   }
   #celebration2{
      display: none;
   }
   
   #navlinks{
      grid-row: 2;
      grid-column: 1/5;
      justify-content: space-evenly;
      background-color: #000000;
}
.dropdown{
   display:none
}
.dropbtn{
   display:none;
}
}
@media only screen and (max-width: 700px){
   nav {
      grid-column: 2/4;
      flex-direction: column;
      background:linear-gradient(90deg, black, #0c0b73);
   }
   #celebration{
      display: none;
   }
#navlinks{
   display:none;
}
.subhero{
   grid-row:2;
}
#soccer{
      display: none;
   }
.dropdown{
   display:inline-block;
   margin-left: auto;
   margin-right: auto;
   }
.dropbtn{
   display:inline-block;
}
nav a:hover{
   transition: transform 0.3s ease-in-out;
   transform: none;
}
#poster{
   float: none;
}
}